/*  Inicio Estilos Footer */



/*  Fin Estilos Footer */

footer{

    .split-footer{
        display: flex;
        justify-content: space-evenly;
    }
    
    .image-footer{
        width: 100px;
        height: auto;
    
    }


}