

header {
    .color-claro {
        background-color: $colorclaro;
    }

    #navbarNav {
        background-color: $colorclaro;

        .nav-link {
            &:hover {
                transform: scale(1.15);
                transition: .34s;
            }
        }

    }

    .text-align {
        @include flx-grd(flex, column);
        // display: flex;
        // flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 5rem;
        border-radius: 50%;

    }

    @media only screen and (max-width: 768px) {
        .nav-link:hover {
            display:none;
        }
      }




}